<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="login-form">
            <form action="/businessid" method="post">
                <h1>Etsi yritystiedot</h1>
                <label for="businessId">Syötä yrityksen y-tunnus: </label>
                <input type="text" id="businessId" name="businessId" placeholder="Y-tunnus">
                
                <button type="submit">submit</button>
            </form>
        </section>

        <div class="info">
        
            <div class="company-info">
                <div class="addresses">
                    <!-- If there is an error it will display on screen -->
                <% if (errorDisplay) { %>
                    <p><%= errorType %></p>
                <% } else { %>

                    <p><span>Name: </span><%= name %> </p>
                    <!-- iterate streets and display them -->
                    <% for (let i = 0; i < street.length ; i++) { %>
                        <!-- when i is 0, it add 1 on it so addres will display like this : address 1, address 2 etc...   -->
                        <% if (i === 0) { %>
                            <p><span>Osoite <%=i + 1%> :</span> <%=street[i] %>, <%=cities[i]%>, <%=postcode[i]%></p>
                        <% } else { %>
                            <p><span>Osoite <%=i + 1%> :</span> <%=street[i] %>, <%=cities[i]%>, <%=postcode[i]%></p>
                        <%} %>
                            
                    <% } %>

                        <p><span>BusinesslineCode: </span><%= busslineCode %></p>
                        <p><span>BusinesslineName: </span><%= busslineName %></p>
                        <p><span>website: </span><%= website %></p>
                </div>
                    
                    
                <% } %>
            </div>
        
        </div>
    </main>

</body>
</html>